/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  background:#0f172a;
  color:white;
  line-height:1.6;
}

/* HEADER */

header{
  text-align:center;
  padding:60px 20px;
  background:linear-gradient(135deg,#1e3a8a,#020617);
}

header h1{
  font-size:2.5rem;
  margin-bottom:10px;
}

header p{
  color:#cbd5f5;
}

/* NAVBAR */

nav{
  background:#020617;
  border-bottom:1px solid #334155;
}

.nav-container{
  max-width:1100px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 20px;
}

.logo{
  color:cyan;
  font-size:1.2rem;
}

nav ul{
  display:flex;
  list-style:none;
  gap:25px;
}

nav a{
  text-decoration:none;
  color:white;
  font-weight:600;
  transition:0.3s;
}

nav a:hover{
  color:cyan;
}

/* MAIN LAYOUT */

main{
  max-width:1100px;
  margin:auto;
  display:flex;
  gap:30px;
  padding:40px 20px;
}

/* ARTICLE */

article{
  flex:3;
  background:#020617;
  padding:30px;
  border-radius:16px;
  box-shadow:0 0 20px rgba(0,255,255,0.15);
}

article h2{
  margin-bottom:12px;
  margin-top:25px;
  color:cyan;
}

article p{
  margin-bottom:15px;
}

/* SKILL CARD */

.card-container{
  display:flex;
  flex-wrap:wrap;
  gap:15px;
  margin:20px 0;
}

.card{
  background:#0f172a;
  padding:15px 20px;
  border-radius:10px;
  border:1px solid cyan;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-4px);
  box-shadow:0 0 10px cyan;
}

/* ASIDE */

aside{
  flex:1;
  background:#020617;
  padding:25px;
  border-radius:16px;
  text-align:center;
  box-shadow:0 0 20px rgba(0,255,255,0.15);
}

aside h3{
  margin-bottom:10px;
}

aside img{
  width:150px;
  border-radius:50%;
  border:3px solid cyan;
  margin:15px 0;
}

.bio{
  text-align:left;
  margin-top:10px;
}

.bio p{
  margin-bottom:8px;
}

.quote{
  margin-top:15px;
  font-style:italic;
  color:cyan;
}

/* FOOTER */

footer{
  text-align:center;
  padding:25px;
  margin-top:30px;
  background:#020617;
  border-top:1px solid #334155;
  font-size:0.9rem;
}

/* ============================= */
/* RESPONSIVE DESIGN */
/* ============================= */

@media (max-width:768px){

  header h1{
    font-size:2rem;
  }

  .nav-container{
    flex-direction:column;
    gap:10px;
  }

  nav ul{
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
  }

  main{
    flex-direction:column;
  }

  article{
    order:1;
  }

  aside{
    order:2;
  }

  .card-container{
    justify-content:center;
  }
  .animate{
opacity:0;
transform:translateY(40px);
transition:0.6s;
}

.show{
opacity:1;
transform:translateY(0);
}

}