* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* HEADER */
header {
  text-align: center;
  padding: 40px;
  background: linear-gradient(135deg,#1e3a8a,#0f172a);
}

/* NAV */
nav {
  background: #020617;
  border-bottom: 1px solid #334155;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  color: cyan;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  color: cyan;
}

/* MAIN FLEXBOX */
main {
  display: flex;
  padding: 30px;
  gap: 25px;
}

/* ARTICLE */
article {
  flex: 3;
  background: #020617;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,255,255,0.2);
}

article h2 {
  margin-bottom: 10px;
  color: cyan;
}

/* CARD SKILL */
.card-container {
  display: flex;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.card {
  background: #0f172a;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid cyan;
}

/* ASIDE */
aside {
  flex: 1;
  background: #020617;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,255,255,0.2);
}

aside img {
  width: 140px;
  border-radius: 50%;
  margin: 15px 0;
  border: 3px solid cyan;
}

.quote {
  font-style: italic;
  color: cyan;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background: #020617;
  border-top: 1px solid #334155;
}